<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PLD.DataAccess.Properties.Settings.dbSmartPLDConnectionString"
            connectionString="Data Source=(local);Initial Catalog=dbSmartPLD;User ID=sa;Password=Enared01"
            providerName="System.Data.SqlClient" />
        <add name="PLD.DataAccess.Properties.Settings.CS_Test" connectionString="Data Source=VOSTRO;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

